<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="style.css">


# EDAF75 - lab 2: Testing the database

As usual we have to tell Jupyter to allow SQL:

In [61]:

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

And then we import our movie database

In [62]:
%sql sqlite:///movies.sqlite

'Connected: @movies.sqlite'

We want to make sure that SQLite3 really checks our foreign
key constraints -- to do that, we run:

In [63]:

%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///movies.sqlite
Done.

[]

Now write SQL code for the following tasks:


+ Show the names of all movies.

In [64]:
%%sql
SELECT *
FROM movies

 * sqlite:///movies.sqlite
Done.

[('Marriage Story', 2019, 'tt7653254', 140),
 ('Jojo Rabbit', 2019, 'tt2584384', 100),
 ('Total Recall', 1990, 'tt0100802', 113),
 ('Polis ger servitris 2 miljoner i dricks', 1994, 'tt0110167', 101),
 ('Citizen Kane', 1941, 'tt0033467', 119),
 ('Arrival', 2016, 'tt2543164', 116),
 ('1917', 2019, 'tt8579674', 119),
 ('Once Upon a Time... in Hollywood', 2019, 'tt7131622', 161),
 ('Forrest Gump', 1994, 'tt0109830', 142),
 ('The Irishman', 2019, 'tt1302006', 209),
 ('Uncut Gems', 2019, 'tt5727208', 135),
 ('Stalker', 1979, 'tt0079944', 162),
 ('Metropolis', 1927, 'tt0017136', 153),
 ('Scener ur ett äktenskap', 1974, 'tt6725014', 169),
 ('The Deer Hunter', 1978, 'tt0077416', 183),
 ('The Room', 2003, 'tt0368226', 99),
 ('Porträtt av en kvinna i brand', 2019, 'tt8613070', 121),
 ('The Lighthouse', 2019, 'tt7984734', 109),
 ('The Farewell', 2019, 'tt8637428', 100),
 ('The Neighbors Window', 2019, 'tt8163822', 21),
 ('A Sister', 2018, 'tt8767544', 17)]

+ Show the performance dates for one of the movies.

In [65]:
%%sql
SELECT m_title, sc_date, start_time, th_name, sc_id
FROM screenings
JOIN movies
USING (imdb_key)
WHERE m_title='Stalker'
ORDER BY start_time

 * sqlite:///movies.sqlite
Done.

[('Stalker', '2020-02-16', '10:00', 'Saga', 'aaa70a16452d7e5823a8e4e3065c036a'),
 ('Stalker', '2020-02-16', '10:00', 'Victoria', '9df6c7a2c242a66a6acb13461f2b0e60'),
 ('Stalker', '2020-02-16', '20:00', 'Skandia', 'f603f6524230563d337608b7029715d0'),
 ('Stalker', '2020-02-14', '20:00', 'Sergel', 'b16bfddb147d905252627c4e1e9bd566'),
 ('Stalker', '2020-02-16', '23:00', 'Sergel', 'f73be133ce195144d677946c06ff4c1e')]

+ Show all data concerning performances at a given theatere
  on a given date.

In [66]:
%%sql
SELECT *
FROM screenings
WHERE th_name ='Victoria' AND sc_date='2020-02-16'

 * sqlite:///movies.sqlite
Done.

[('9df6c7a2c242a66a6acb13461f2b0e60', '2020-02-16', '10:00', 'Victoria', 'tt0079944'),
 ('5703c9138fec3015f032a0d4b97b3efd', '2020-02-16', '13:00', 'Victoria', 'tt7653254'),
 ('08cfcd2db7858a1454a01dd5905f8c5f', '2020-02-16', '17:00', 'Victoria', 'tt7131622'),
 ('2476dac1dbe3bb0cd0137b811d02fef8', '2020-02-16', '20:00', 'Victoria', 'tt7653254'),
 ('c32cd3aff32fe321f93fb75139efd3b5', '2020-02-16', '23:00', 'Victoria', 'tt0077416')]

+ List all customers

In [67]:
%%sql
SELECT *
FROM customers

 * sqlite:///movies.sqlite
Done.

[('Krusbaer', 'Kerstin Brökås', '123123123'),
 ('Bibby_13', 'Mats Snickelback', 'p4ssw0rd'),
 ('Namnam', 'Harald Fossing', '777777777'),
 ('Dragon_slayer', 'Maj Stråle', 'woodstock69'),
 ('Woopie55', 'Chris Gregerflöjt', '0o0o0o0o')]

+ List all tickets

In [73]:
%%sql
SELECT *
FROM tickets

 * sqlite:///movies.sqlite
Done.

[('ba94b9b98f5447db7119e8f9e9fd1bef', 'Krusbaer', '08cfcd2db7858a1454a01dd5905f8c5f')]

+ Create a new ticket to some performance (i.e., insert a
  new row in your table of tickets).

In [72]:
%%sql

INSERT OR IGNORE
INTO tickets(username, sc_id)
VALUES ('Krusbaer', '08cfcd2db7858a1454a01dd5905f8c5f')

 * sqlite:///movies.sqlite
1 rows affected.

[]

In
  [PostgreSQL](https://www.postgresql.org/docs/current/sql-insert.html)
  we can get any value generated during an insert using the
  `INSERT...-RETURNING` statement:

~~~{.sql}
INSERT
INTO       students
VALUES     ('Amy', 3.9, 1200)
RETURNING  s_id
~~~

In SQLite3 (as of January 2020), we can't do that, instead
  we can use the following idea: each row in a SQLite3 table
  has a `rowid` attribute, it is a unique integer which
  essentially tells in which order the rows were inserted,
  and it's not displayed in queries unless we ask for it.
  SQLite3 also have a function, `last_insert_rowid()`, which
  returns the `rowid` of the last inserted row of a table,
  so we can see the `s_id` of the most recently inserted
  student with the following query:

~~~{.sql}
SELECT s_id
FROM   students
WHERE  rowid = last_insert_rowid();
~~~

Now, check what ticket number we got for the ticket we
  created above (it should be the same as the ticket id,
  which should be a `randomblob`):

In [ ]:
%%sql

+ Try to insert two movie theaters with the same name (this
  should fail).

In [41]:
%%sql
INSERT
INTO theatres(th_name, capacity)
VALUES  ('Skandia', '300')

 * sqlite:///movies.sqlite

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: theatres.th_name
[SQL: INSERT
INTO theatres(th_name, capacity)
VALUES  ('Skandia', '300')]
(Background on this error at: http://sqlalche.me/e/gkpj)

+ Try to insert a performance where the theater doesn’t
  exist in the database (this should fail).

In [60]:
%%sql
INSERT
INTO tickets(username, sc_id)
VALUES ('Krusbaer', 'asfd')

 * sqlite:///movies.sqlite

IntegrityError: (sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: INSERT
INTO tickets(username, sc_id)
VALUES ('Krusbaer', 'asfd')]
(Background on this error at: http://sqlalche.me/e/gkpj)

+ Create a ticket where either the user or the performance
  doesn’t exist.

In [ ]:
%%sql