<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="../style.css">

# More SQL (lecture 2)

Today we'll continue where we left off last time, and then
learn how to combine several tables in one `SELECT`
statement.

As usual we have to tell Jupyter to allow SQL:

In [1]:
%load_ext sql

And then we import the database for today's lecture:

In [2]:
%sql sqlite:///lect02.sqlite

'Connected: @lect02.sqlite'

## Short review of the first lecture

 +  `SELECT`-`FROM`-`WHERE`: 
 
 +  Set operations: `UNION`, `INTERSECT`, `EXCEPT`
 
 +  Simple functions: applies to each row of the result,
    like (you can find their documentation
    [here](https://www.sqlite.org/lang_corefunc.html)):
     +  `substr(s, x, y)`
     +  `instr`/`glob`
     +  `ltrim`/`rtrim`/`trim`
     +  `ifnull`/`coalesce`
     +  `printf`
     +  `abs`/`round`
     +  `max(x,y,...)`/`min(x,y,...)` -- observe that this
        is not the same as the aggregate functions (see
        below)
     +  `random`/`randomblob`
     +  `hex`
     +  `lower`/`upper`

 +  Aggregate functions (documented
    [here](https://www.sqlite.org/lang_aggfunc.html)):
     +  `avg`
     +  `count`
     +  `group_concat`
     +  `max`/`min`
     +  `sum`/`total`
 
 +  `GROUP BY` -- splits the rows into groups, and applies
    aggregate functions on each group (instead of on the
    whole table)
    
 +  `GROUP BY` ... `HAVING` -- like `WHERE` for groups
 
 +  Subqueries -- we can use queries within other queries,
    typically in a `WHERE ... IN`-statement


## Subqueries, continued...

At the end of the previous lecture, we looked at the
(admittedly contrieved) question:

**Q:** _Who has shared the chemistry prize with exactly one
other laureate in years when the summer olympics were held
in Europe?_

In [ ]:
%%sql

We'll save the following problem for the QA-session:

**Q:** _Print the names of all the physics and chemistry
laureates in years when both categories had laureates with
names beginning with 'A'?_

In [29]:
%%sql
SELECT year, group_concat(name, ', ') AS names, group_concat(category,', ') AS categories
FROM nobel
WHERE name IN
    (SELECT name
     FROM nobel
     WHERE (category='chemistry' OR category='physics') AND name LIKE 'A%'
    ) 
GROUP BY year HAVING count() > 1

 * sqlite:///lect02.sqlite
Done.

[(2000, 'Alan G. MacDiarmid, Alan J. Heeger', 'chemistry, chemistry'),
 (2003, 'Alexei A. Abrikosov, Anthony J. Leggett', 'physics, physics'),
 (2004, 'Aaron Ciechanover, Avram Hershko', 'chemistry, chemistry'),
 (2010, 'Akira Suzuki, Andre Geim', 'chemistry, physics'),
 (2015, 'Aziz Sancar, Arthur B. McDonald', 'chemistry, physics')]

Another form of subquery is:

~~~sql
SELECT ...,
       (SELECT ...
        FROM ...
        WHERE ...)
FROM   ...
~~~

This works if the subquery produces one result, such as when
we use an aggregate function. As an example, solve the
following problem:

**Q:** _Output the name of all laureates, and the number of
awards they have -- order first by number of awards, then by
name, and show only the first 20._

In [11]:
%%sql
SELECT name, (SELECT count()
             FROM nobel AS inner
             WHERE inner.name = outer.name) AS no_of_awards
FROM nobel AS outer
GROUP BY name
ORDER BY no_of_awards DESC, name

 * sqlite:///lect02.sqlite
Done.

[('Frederick Sanger', 2),
 ('John Bardeen', 2),
 ('Marie Curie, née Sklodowska', 2),
 ('Aage Niels Bohr', 1),
 ('Aaron Ciechanover', 1),
 ('Aaron Klug', 1),
 ('Abdus Salam', 1),
 ('Ada E. Yonath', 1),
 ('Adam G. Riess', 1),
 ('Adolf Friedrich Johann Butenandt', 1),
 ('Adolf Otto Reinhold Windaus', 1),
 ('Ahmed H. Zewail', 1),
 ('Akira Suzuki', 1),
 ('Akira Yoshino', 1),
 ('Alan G. MacDiarmid', 1),
 ('Alan J. Heeger', 1),
 ('Alan Lloyd Hodgkin', 1),
 ('Albert Abraham Michelson', 1),
 ('Albert Camus', 1),
 ('Albert Claude', 1),
 ('Albert Einstein', 1),
 ('Albert Fert', 1),
 ('Albert von Szent-Györgyi Nagyrápolt', 1),
 ('Albrecht Kossel', 1),
 ('Aleksandr Isayevich Solzhenitsyn', 1),
 ('Aleksandr Mikhailovich Prokhorov', 1),
 ('Alexei A. Abrikosov', 1),
 ('Alexis Carrel', 1),
 ('Alfred D. Hershey', 1),
 ('Alfred G. Gilman', 1),
 ('Alfred Kastler', 1),
 ('Alfred Werner', 1),
 ('Alice Munro', 1),
 ('Allan M. Cormack', 1),
 ('Allvar Gullstrand', 1),
 ('Anatole France', 1),
 ('Andre Geim', 1),
 ('Andrew Fielding Huxley', 1),
 ('Andrew V. Schally', 1),
 ('Andrew Z. Fire', 1),
 ('André Frédéric Cournand', 1),
 ('André Lwoff', 1),
 ('André Paul Guillaume Gide', 1),
 ('Anthony J. Leggett', 1),
 ('Antoine Henri Becquerel', 1),
 ('Antonio Caetano de Abreu Freire Egas Moniz', 1),
 ('Antony Hewish', 1),
 ('Archer John Porter Martin', 1),
 ('Archibald Vivian Hill', 1),
 ('Arieh Warshel', 1),
 ('Arne Wilhelm Kaurin Tiselius', 1),
 ('Arno Allan Penzias', 1),
 ('Arthur Ashkin', 1),
 ('Arthur B. McDonald', 1),
 ('Arthur Harden', 1),
 ('Arthur Holly Compton', 1),
 ('Arthur Kornberg', 1),
 ('Arthur Leonard Schawlow', 1),
 ('Artturi Ilmari Virtanen', 1),
 ('Arvid Carlsson', 1),
 ('Avram Hershko', 1),
 ('Axel Hugo Theodor Theorell', 1),
 ('Aziz Sancar', 1),
 ('Barbara McClintock', 1),
 ('Barry C. Barish', 1),
 ('Barry J. Marshall', 1),
 ('Baruch S. Blumberg', 1),
 ('Baruj Benacerraf', 1),
 ('Ben Roy Mottelson', 1),
 ('Bengt I. Samuelsson', 1),
 ('Bernard L. Feringa', 1),
 ('Bernardo Alberto Houssay', 1),
 ('Bert Sakmann', 1),
 ('Bertram N. Brockhouse', 1),
 ('Bjørnstjerne Martinus Bjørnson', 1),
 ('Bob Dylan', 1),
 ('Boris Leonidovich Pasternak', 1),
 ('Brian David Josephson', 1),
 ('Brian K. Kobilka', 1),
 ('Brian P. Schmidt', 1),
 ('Bruce A. Beutler', 1),
 ('Burton Richter', 1),
 ('Camillo Golgi', 1),
 ('Camilo José Cela', 1),
 ('Carl Bosch', 1),
 ('Carl David Anderson', 1),
 ('Carl E. Wieman', 1),
 ('Carl Ferdinand Cori', 1),
 ('Carl Friedrich Georg Spitteler', 1),
 ('Carl Gustaf Verner von Heidenstam', 1),
 ('Carlo Rubbia', 1),
 ('Carol W. Greider', 1),
 ('Cecil Frank Powell', 1),
 ('Charles Brenton Huggins', 1),
 ('Charles Edouard Guillaume', 1),
 ('Charles Glover Barkla', 1),
 ('Charles Hard Townes', 1),
 ('Charles J. Pedersen', 1),
 ('Charles Jules Henri Nicolle', 1),
 ('Charles Kuen Kao', 1),
 ('Charles Louis Alphonse Laveran', 1),
 ('Charles Robert Richet', 1),
 ('Charles Thomson Rees Wilson', 1),
 ('Chen Ning Yang', 1),
 ('Christiaan Eijkman', 1),
 ('Christian B. Anfinsen', 1),
 ('Christian Matthias Theodor Mommsen', 1),
 ('Christian de Duve', 1),
 ('Christiane Nüsslein-Volhard', 1),
 ('Claude Cohen-Tannoudji', 1),
 ('Claude Simon', 1),
 ('Clifford G. Shull', 1),
 ('Clinton Joseph Davisson', 1),
 ('Corneille Jean François Heymans', 1),
 ('Count Maurice (Mooris) Polidore Marie Bernhard Maeterlinck', 1),
 ('Craig C. Mello', 1),
 ('Czeslaw Milosz', 1),
 ('César Milstein', 1),
 ('D. Carleton Gajdusek', 1),
 ('Dan Shechtman', 1),
 ('Daniel Bovet', 1),
 ('Daniel C. Tsui', 1),
 ('Daniel Nathans', 1),
 ('Dario Fo', 1),
 ('David Baltimore', 1),
 ('David H. Hubel', 1),
 ('David J. Gross', 1),
 ('David J. Thouless', 1),
 ('David J. Wineland', 1),
 ('David M. Lee', 1),
 ('Dennis Gabor', 1),
 ('Derek H. R. Barton', 1),
 ('Derek Walcott', 1),
 ('Dickinson W. Richards', 1),
 ('Didier Queloz', 1),
 ('Donald Arthur Glaser', 1),
 ('Donald J. Cram', 1),
 ('Donna Strickland', 1),
 ('Doris Lessing', 1),
 ('Dorothy Crowfoot Hodgkin', 1),
 ('Douglas D. Osheroff', 1),
 ('Dudley R. Herschbach', 1),
 ('E. Donnall Thomas', 1),
 ('Earl (Bertrand Arthur William) Russell', 1),
 ('Earl W. Sutherland, Jr.', 1),
 ('Edgar Douglas Adrian', 1),
 ('Edmond H. Fischer', 1),
 ('Eduard Buchner', 1),
 ('Edvard I. Moser', 1),
 ('Edward Adelbert Doisy', 1),
 ('Edward B. Lewis', 1),
 ('Edward Calvin Kendall', 1),
 ('Edward Lawrie Tatum', 1),
 ('Edward Mills Purcell', 1),
 ('Edwin G. Krebs', 1),
 ('Edwin Mattison McMillan', 1),
 ('Ei-ichi Negishi', 1),
 ('Elfriede Jelinek', 1),
 ('Elias Canetti', 1),
 ('Elias James Corey', 1),
 ('Elizabeth H. Blackburn', 1),
 ('Emil Adolf von Behring', 1),
 ('Emil Theodor Kocher', 1),
 ('Emilio Gino Segrè', 1),
 ('Enrico Fermi', 1),
 ('Eric A. Cornell', 1),
 ('Eric Betzig', 1),
 ('Eric F. Wieschaus', 1),
 ('Eric R. Kandel', 1),
 ('Erik Axel Karlfeldt', 1),
 ('Ernest Miller Hemingway', 1),
 ('Ernest Orlando Lawrence', 1),
 ('Ernest Rutherford', 1),
 ('Ernest Thomas Sinton Walton', 1),
 ('Ernst Boris Chain', 1),
 ('Ernst Otto Fischer', 1),
 ('Ernst Ruska', 1),
 ('Erwin Neher', 1),
 ('Erwin Schrödinger', 1),
 ("Eugene Gladstone O'Neill", 1),
 ('Eugene Paul Wigner', 1),
 ('Eugenio Montale', 1),
 ('Eyvind Johnson', 1),
 ('F. Duncan M. Haldane', 1),
 ('F. Sherwood Rowland', 1),
 ('Felix Bloch', 1),
 ('Feodor Lynen', 1),
 ('Ferid Murad', 1),
 ('Frances H. Arnold', 1),
 ('Francis Harry Compton Crick', 1),
 ('Francis William Aston', 1),
 ('Frank Wilczek', 1),
 ('Frans Eemil Sillanpää', 1),
 ('François Englert', 1),
 ('François Jacob', 1),
 ('François Mauriac', 1),
 ('Françoise Barré-Sinoussi', 1),
 ('Frederick Chapman Robbins', 1),
 ('Frederick Grant Banting', 1),
 ('Frederick Reines', 1),
 ('Frederick Soddy', 1),
 ('Friedrich Bergius', 1),
 ('Frits Zernike', 1),
 ('Fritz Albert Lipmann', 1),
 ('Fritz Haber', 1),
 ('Fritz Pregl', 1),
 ('Frédéric Joliot', 1),
 ('Frédéric Mistral', 1),
 ('Gabriel García Márquez', 1),
 ('Gabriel Lippmann', 1),
 ('Gabriela Mistral', 1),
 ('Gao Xingjian', 1),
 ('Geoffrey Wilkinson', 1),
 ('Georg Wittig', 1),
 ('Georg von Békésy', 1),
 ('George A. Olah', 1),
 ('George Bernard Shaw', 1),
 ('George D. Snell', 1),
 ('George E. Palade', 1),
 ('George E. Smith', 1),
 ('George F. Smoot', 1),
 ('George H. Hitchings', 1),
 ('George Hoyt Whipple', 1),
 ('George P. Smith', 1),
 ('George Paget Thomson', 1),
 ('George Porter', 1),
 ('George Richards Minot', 1),
 ('George Wald', 1),
 ('George Wells Beadle', 1),
 ('George de Hevesy', 1),
 ('Georges Charpak', 1),
 ('Georges J.F. Köhler', 1),
 ('Gerald M. Edelman', 1),
 ("Gerardus 't Hooft", 1),
 ('Gerd Binnig', 1),
 ('Gerhard Domagk', 1),
 ('Gerhard Ertl', 1),
 ('Gerhard Herzberg', 1),
 ('Gerhart Johann Robert Hauptmann', 1),
 ('Gertrude B. Elion', 1),
 ('Gerty Theresa Cori, née Radnitz', 1),
 ('Giorgos Seferis', 1),
 ('Giosuè Carducci', 1),
 ('Giulio Natta', 1),
 ('Glenn Theodore Seaborg', 1),
 ('Godfrey N. Hounsfield', 1),
 ('Grazia Deledda', 1),
 ('Greg Winter', 1),
 ('Gregg L. Semenza', 1),
 ('Guglielmo Marconi', 1),
 ('Gustav Ludwig Hertz', 1),
 ('Gérard Mourou', 1),
 ('Günter Blobel', 1),
 ('Günter Grass', 1),
 ('H. David Politzer', 1),
 ('H. Robert Horvitz', 1),
 ('Haldan Keffer Hartline', 1),
 ('Halldór Kiljan Laxness', 1),
 ('Hamilton O. Smith', 1),
 ('Hannes Olof Gösta Alfvén', 1),
 ('Hans Adolf Krebs', 1),
 ('Hans Albrecht Bethe', 1),
 ('Hans Fischer', 1),
 ('Hans G. Dehmelt', 1),
 ('Hans Karl August Simon von Euler-Chelpin', 1),
 ('Hans Spemann', 1),
 ('Har Gobind Khorana', 1),
 ('Harald zur Hausen', 1),
 ('Harold Clayton Urey', 1),
 ('Harold E. Varmus', 1),
 ('Harold Pinter', 1),
 ('Harry Martinson', 1),
 ('Hartmut Michel', 1),
 ('Heike Kamerlingh Onnes', 1),
 ('Heinrich Böll', 1),
 ('Heinrich Otto Wieland', 1),
 ('Heinrich Rohrer', 1),
 ('Hendrik Antoon Lorentz', 1),
 ('Henri Bergson', 1),
 ('Henri Moissan', 1),
 ('Henrik Carl Peter Dam', 1),
 ('Henrik Pontoppidan', 1),
 ('Henry Taube', 1),
 ('Henry W. Kendall', 1),
 ('Henryk Sienkiewicz', 1),
 ('Herbert A. Hauptman', 1),
 ('Herbert C. Brown', 1),
 ('Herbert Kroemer', 1),
 ('Herbert Spencer Gasser', 1),
 ('Hermann Emil Fischer', 1),
 ('Hermann Hesse', 1),
 ('Hermann Joseph Muller', 1),
 ('Hermann Staudinger', 1),
 ('Herta Müller', 1),
 ('Hideki Shirakawa', 1),
 ('Hideki Yukawa', 1),
 ('Hiroshi Amano', 1),
 ('Horst L. Störmer', 1),
 ('Howard Martin Temin', 1),
 ('Igor Yevgenyevich Tamm', 1),
 ('Ilya Ilyich Mechnikov', 1),
 ('Ilya Prigogine', 1),
 ('Il´ja Mikhailovich Frank', 1),
 ('Imre Kertész', 1),
 ('Irving Langmuir', 1),
 ('Irwin Rose', 1),
 ('Irène Joliot-Curie', 1),
 ('Isaac Bashevis Singer', 1),
 ('Isamu Akasaki', 1),
 ('Isidor Isaac Rabi', 1),
 ('Ivan Alekseyevich Bunin', 1),
 ('Ivan Petrovich Pavlov', 1),
 ('Ivar Giaever', 1),
 ('Ivo Andric', 1),
 ('J. Georg Bednorz', 1),
 ('J. Hans D. Jensen', 1),
 ('J. Michael Bishop', 1),
 ('J. Michael Kosterlitz', 1),
 ('J. Robin Warren', 1),
 ('Jacinto Benavente', 1),
 ('Jack S. Kilby', 1),
 ('Jack Steinberger', 1),
 ('Jack W. Szostak', 1),
 ("Jacobus Henricus van 't Hoff", 1),
 ('Jacques Dubochet', 1),
 ('Jacques Monod', 1),
 ('James Batcheller Sumner', 1),
 ('James Chadwick', 1),
 ('James Dewey Watson', 1),
 ('James E. Rothman', 1),
 ('James Franck', 1),
 ('James P. Allison', 1),
 ('James Peebles', 1),
 ('James Watson Cronin', 1),
 ('Jaroslav Heyrovsky', 1),
 ('Jaroslav Seifert', 1),
 ('Jean Baptiste Perrin', 1),
 ('Jean Dausset', 1),
 ('Jean-Marie Gustave Le Clézio', 1),
 ('Jean-Marie Lehn', 1),
 ('Jean-Paul Sartre', 1),
 ('Jean-Pierre Sauvage', 1),
 ('Jeffrey C. Hall', 1),
 ('Jens C. Skou', 1),
 ('Jerome I. Friedman', 1),
 ('Jerome Karle', 1),
 ('Joachim Frank', 1),
 ('Johann Deisenhofer', 1),
 ('Johann Friedrich Wilhelm Adolf von Baeyer', 1),
 ('Johannes Andreas Grib Fibiger', 1),
 ('Johannes Diderik van der Waals', 1),
 ('Johannes Stark', 1),
 ('Johannes Vilhelm Jensen', 1),
 ('John A. Pople', 1),
 ('John B. Fenn', 1),
 ('John B. Goodenough', 1),
 ('John C. Mather', 1),
 ('John C. Polanyi', 1),
 ('John Cowdery Kendrew', 1),
 ('John E. Sulston', 1),
 ('John E. Walker', 1),
 ('John Franklin Enders', 1),
 ('John Galsworthy', 1),
 ('John Hasbrouck van Vleck', 1),
 ('John Howard Northrop', 1),
 ('John James Rickard Macleod', 1),
 ('John L. Hall', 1),
 ('John M. Coetzee', 1),
 ("John O'Keefe", 1),
 ('John R. Vane', 1),
 ('John Robert Schrieffer', 1),
 ('John Steinbeck', 1),
 ('John Warcup Cornforth', 1),
 ('Joseph Brodsky', 1),
 ('Joseph E. Murray', 1),
 ('Joseph Erlanger', 1),
 ('Joseph H. Taylor Jr.', 1),
 ('Joseph John Thomson', 1),
 ('Joseph L. Goldstein', 1),
 ('Joshua Lederberg', 1),
 ('José Echegaray y Eizaguirre', 1),
 ('José Saramago', 1),
 ('Juan Ramón Jiménez', 1),
 ('Jules A. Hoffmann', 1),
 ('Jules Bordet', 1),
 ('Julian Schwinger', 1),
 ('Julius Axelrod', 1),
 ('Julius Wagner-Jauregg', 1),
 ('K. Alexander Müller', 1),
 ('K. Barry Sharpless', 1),
 ('Kai M. Siegbahn', 1),
 ('Karl Adolph Gjellerup', 1),
 ('Karl Ferdinand Braun', 1),
 ('Karl Landsteiner', 1),
 ('Karl Manne Georg Siegbahn', 1),
 ('Karl Ziegler', 1),
 ('Karl von Frisch', 1),
 ('Kary B. Mullis', 1),
 ('Kazuo Ishiguro', 1),
 ('Kenichi Fukui', 1),
 ('Kenneth G. Wilson', 1),
 ('Kenzaburo Oe', 1),
 ('Kip S. Thorne', 1),
 ('Klaus von Klitzing', 1),
 ('Knut Pedersen Hamsun', 1),
 ('Koichi Tanaka', 1),
 ('Konrad Bloch', 1),
 ('Konrad Lorenz', 1),
 ('Konstantin Novoselov', 1),
 ('Kurt Alder', 1),
 ('Kurt Wüthrich', 1),
 ('Lars Onsager', 1),
 ('Leland H. Hartwell', 1),
 ('Leo Esaki', 1),
 ('Leo James Rainwater', 1),
 ('Leon M. Lederman', 1),
 ('Leon Neil Cooper', 1),
 ('Leopold Ruzicka', 1),
 ('Lev Davidovich Landau', 1),
 ('Linda B. Buck', 1),
 ('Linus Carl Pauling', 1),
 ('Lord (Alexander R.) Todd', 1),
 ('Lord Rayleigh (John William Strutt)', 1),
 ('Louis Eugène Félix Néel', 1),
 ('Louis J. Ignarro', 1),
 ('Luc Montagnier', 1),
 ('Luigi Pirandello', 1),
 ('Luis F. Leloir', 1),
 ('Luis Walter Alvarez', 1),
 ('M. Stanley Wittingham', 1),
 ('Makoto Kobayashi', 1),
 ('Manfred Eigen', 1),
 ('Maria Goeppert Mayer', 1),
 ('Mario J. Molina', 1),
 ('Mario R. Capecchi', 1),
 ('Mario Vargas Llosa', 1),
 ('Marshall W. Nirenberg', 1),
 ('Martin Chalfie', 1),
 ('Martin Karplus', 1),
 ('Martin L. Perl', 1),
 ('Martin Rodbell', 1),
 ('Martinus J.G. Veltman', 1),
 ('Masatoshi Koshiba', 1),
 ('Maurice Hugh Frederick Wilkins', 1),
 ('Max Born', 1),
 ('Max Delbrück', 1),
 ('Max Ferdinand Perutz', 1),
 ('Max Karl Ernst Ludwig Planck', 1),
 ('Max Theiler', 1),
 ('Max von Laue', 1),
 ('May-Britt Moser', 1),
 ('Melvin Calvin', 1),
 ('Melvin Schwartz', 1),
 ('Michael Levitt', 1),
 ('Michael Rosbash', 1),
 ('Michael S. Brown', 1),
 ('Michael Smith', 1),
 ('Michael W. Young', 1),
 ('Michel Mayor', 1),
 ('Miguel Angel Asturias', 1),
 ('Mikhail Aleksandrovich Sholokhov', 1),
 ('Mo Yan', 1),
 ('Murray Gell-Mann', 1),
 ('Nadine Gordimer', 1),
 ('Naguib Mahfouz', 1),
 ('Nelly Sachs', 1),
 ('Nicolaas Bloembergen', 1),
 ('Nicolay Gennadiyevich Basov', 1),
 ('Niels Henrik David Bohr', 1),
 ('Niels K. Jerne', 1),
 ('Niels Ryberg Finsen', 1),
 ('Nikolaas Tinbergen', 1),
 ('Nikolay Nikolaevich Semenov', 1),
 ('Nils Gustaf Dalén', 1),
 ('Norman F. Ramsey', 1),
 ('Octavio Paz', 1),
 ('Odd Hassel', 1),
 ('Odysseus Elytis', 1),
 ('Olga Tokarczuk', 1),
 ('Oliver Smithies', 1),
 ('Orhan Pamuk', 1),
 ('Osamu Shimomura', 1),
 ('Otto Fritz Meyerhof', 1),
 ('Otto Hahn', 1),
 ('Otto Heinrich Warburg', 1),
 ('Otto Loewi', 1),
 ('Otto Paul Hermann Diels', 1),
 ('Otto Stern', 1),
 ('Otto Wallach', 1),
 ('Owen Chamberlain', 1),
 ('Owen Willans Richardson', 1),
 ('Pablo Neruda', 1),
 ('Patrick Maynard Stuart Blackett', 1),
 ('Patrick Modiano', 1),
 ('Patrick White', 1),
 ('Paul Adrien Maurice Dirac', 1),
 ('Paul Berg', 1),
 ('Paul C. Lauterbur', 1),
 ('Paul D. Boyer', 1),
 ('Paul Ehrlich', 1),
 ('Paul Greengard', 1),
 ('Paul Hermann Müller', 1),
 ('Paul J. Crutzen', 1),
 ('Paul J. Flory', 1),
 ('Paul Johann Ludwig Heyse', 1),
 ('Paul Karrer', 1),
 ('Paul Modrich', 1),
 ('Paul Sabatier', 1),
 ('Pavel Alekseyevich Cherenkov', 1),
 ('Pearl Buck', 1),
 ('Percy Williams Bridgman', 1),
 ('Peter Agre', 1),
 ('Peter Brian Medawar', 1),
 ('Peter C. Doherty', 1),
 ('Peter D. Mitchell', 1),
 ('Peter Grünberg', 1),
 ('Peter Handke', 1),
 ('Peter J. Ratcliffe', 1),
 ('Peter W. Higgs', 1),
 ('Petrus (Peter) Josephus Wilhelmus Debye', 1),
 ('Peyton Rous', 1),
 ('Philip Showalter Hench', 1),
 ('Philip Warren Anderson', 1),
 ('Philipp Eduard Anton von Lenard', 1),
 ('Phillip A. Sharp', 1),
 ('Pierre Curie', 1),
 ('Pierre-Gilles de Gennes', 1),
 ('Pieter Zeeman', 1),
 ('Polykarp Kusch', 1),
 ('Prince Louis-Victor Pierre Raymond de Broglie', 1),
 ('Pyotr Leonidovich Kapitsa', 1),
 ('Pär Fabian Lagerkvist', 1),
 ('Rabindranath Tagore', 1),
 ('Ragnar Granit', 1),
 ('Rainer Weiss', 1),
 ('Ralph M. Steinman', 1),
 ('Randy W. Schekman', 1),
 ('Raymond Davis Jr.', 1),
 ('Renato Dulbecco', 1),
 ('Riccardo Giacconi', 1),
 ('Richard Adolf Zsigmondy', 1),
 ('Richard Axel', 1),
 ('Richard E. Smalley', 1),
 ('Richard E. Taylor', 1),
 ('Richard F. Heck', 1),
 ('Richard Henderson', 1),
 ('Richard J. Roberts', 1),
 ('Richard Kuhn', 1),
 ('Richard Laurence Millington Synge', 1),
 ('Richard Martin Willstätter', 1),
 ('Richard P. Feynman', 1),
 ('Richard R. Ernst', 1),
 ('Richard R. Schrock', 1),
 ('Rita Levi-Montalcini', 1),
 ('Roald Hoffmann', 1),
 ('Robert Andrews Millikan', 1),
 ('Robert B. Laughlin', 1),
 ('Robert Bruce Merrifield', 1),
 ('Robert Burns Woodward', 1),
 ('Robert Bárány', 1),
 ('Robert C. Richardson', 1),
 ('Robert F. Curl Jr.', 1),
 ('Robert F. Furchgott', 1),
 ('Robert G. Edwards', 1),
 ('Robert H. Grubbs', 1),
 ('Robert Hofstadter', 1),
 ('Robert Huber', 1),
 ('Robert J. Lefkowitz', 1),
 ('Robert Koch', 1),
 ('Robert S. Mulliken', 1),
 ('Robert W. Holley', 1),
 ('Robert Woodrow Wilson', 1),
 ('Roderick MacKinnon', 1),
 ('Rodney R. Porter', 1),
 ('Roger D. Kornberg', 1),
 ('Roger Guillemin', 1),
 ('Roger Martin du Gard', 1),
 ('Roger W. Sperry', 1),
 ('Roger Y. Tsien', 1),
 ('Rolf M. Zinkernagel', 1),
 ('Romain Rolland', 1),
 ('Ronald George Wreyford Norrish', 1),
 ('Ronald Ross', 1),
 ('Rosalyn Yalow', 1),
 ('Roy J. Glauber', 1),
 ('Rudolf Christoph Eucken', 1),
 ('Rudolf Ludwig Mössbauer', 1),
 ('Rudolph A. Marcus', 1),
 ('Rudyard Kipling', 1),
 ('Russell A. Hulse', 1),
 ('Ryoji Noyori', 1),
 ('Saint-John Perse', 1),
 ('Salvador E. Luria', 1),
 ('Salvatore Quasimodo', 1),
 ('Samuel Beckett', 1),
 ('Samuel Chao Chung Ting', 1),
 ('Santiago Ramón y Cajal', 1),
 ('Satoshi Ōmura', 1),
 ('Saul Bellow', 1),
 ('Saul Perlmutter', 1),
 ('Schack August Steenberg Krogh', 1),
 ('Seamus Heaney', 1),
 ('Selma Ottilia Lovisa Lagerlöf', 1),
 ('Selman Abraham Waksman', 1),
 ('Serge Haroche', 1),
 ('Severo Ochoa', 1),
 ('Sheldon Lee Glashow', 1),
 ('Shinya Yamanaka', 1),
 ('Shmuel Yosef Agnon', 1),
 ('Shuji Nakamura', 1),
 ('Sidney Altman', 1),
 ('Sigrid Undset', 1),
 ('Simon van der Meer', 1),
 ('Sin-Itiro Tomonaga', 1),
 ('Sinclair Lewis', 1),
 ('Sir Alexander Fleming', 1),
 ('Sir Bernard Katz', 1),
 ('Sir Chandrasekhara Venkata Raman', 1),
 ('Sir Charles Scott Sherrington', 1),
 ('Sir Cyril Norman Hinshelwood', 1),
 ('Sir Edward Victor Appleton', 1),
 ('Sir Frank Macfarlane Burnet', 1),
 ('Sir Frederick Gowland Hopkins', 1),
 ('Sir Harold W. Kroto', 1),
 ('Sir Henry Hallett Dale', 1),
 ('Sir Howard Walter Florey', 1),
 ('Sir J. Fraser Stoddart', 1),
 ('Sir James W. Black', 1),
 ('Sir John B. Gurdon', 1),
 ('Sir John Carew Eccles', 1),
 ('Sir John Douglas Cockcroft', 1),
 ('Sir Martin J. Evans', 1),
 ('Sir Martin Ryle', 1),
 ('Sir Nevill Francis Mott', 1),
 ('Sir Paul M. Nurse', 1),
 ('Sir Peter Mansfield', 1),
 ('Sir Robert Robinson', 1),
 ('Sir Vidiadhar Surajprasad Naipaul', 1),
 ('Sir William Henry Bragg', 1),
 ('Sir William Ramsay', 1),
 ('Sir Winston Leonard Spencer Churchill', 1),
 ('Stanford Moore', 1),
 ('Stanley B. Prusiner', 1),
 ('Stanley Cohen', 1),
 ('Stefan W. Hell', 1),
 ('Steven Chu', 1),
 ('Steven Weinberg', 1),
 ('Subramanyan Chandrasekhar', 1),
 ('Sully Prudhomme', 1),
 ('Sune K. Bergström', 1),
 ('Susumu Tonegawa', 1),
 ('Svante August Arrhenius', 1),
 ('Svetlana Alexievich', 1),
 ('Sydney Brenner', 1),
 ('Tadeus Reichstein', 1),
 ('Takaaki Kajita', 1),
 ('Taskuk Honjo', 1),
 ('The (Theodor) Svedberg', 1),
 ('Theodor W. Hänsch', 1),
 ('Theodore William Richards', 1),
 ('Thomas A. Steitz', 1),
 ('Thomas C. Südhof', 1),
 ('Thomas Huckle Weller', 1),
 ('Thomas Hunt Morgan', 1),
 ('Thomas Mann', 1),
 ('Thomas R. Cech', 1),
 ('Thomas Stearns Eliot', 1),
 ('Tim Hunt', 1),
 ('Tomas Lindahl', 1),
 ('Tomas Tranströmer', 1),
 ('Toni Morrison', 1),
 ('Torsten N. Wiesel', 1),
 ('Toshihide Maskawa', 1),
 ('Tsung-Dao (T.D.) Lee', 1),
 ('Ulf von Euler', 1),
 ('Val Logsdon Fitch', 1),
 ('Venkatraman Ramakrishnan', 1),
 ('Vicente Aleixandre', 1),
 ('Victor Franz Hess', 1),
 ('Victor Grignard', 1),
 ('Vincent du Vigneaud', 1),
 ('Vitaly L. Ginzburg', 1),
 ('Vladimir Prelog', 1),
 ('Walter Gilbert', 1),
 ('Walter Houser Brattain', 1),
 ('Walter Kohn', 1),
 ('Walter Norman Haworth', 1),
 ('Walter Rudolf Hess', 1),
 ('Walther Bothe', 1),
 ('Walther Hermann Nernst', 1),
 ('Wendell Meredith Stanley', 1),
 ('Werner Arber', 1),
 ('Werner Forssmann', 1),
 ('Werner Karl Heisenberg', 1),
 ('Wilhelm Conrad Röntgen', 1),
 ('Wilhelm Ostwald', 1),
 ('Wilhelm Wien', 1),
 ('Willard Frank Libby', 1),
 ('Willard S. Boyle', 1),
 ('Willem Einthoven', 1),
 ('William Alfred Fowler', 1),
 ('William Bradford Shockley', 1),
 ('William Butler Yeats', 1),
 ('William C. Campbell', 1),
 ('William D. Phillips', 1),
 ('William E. Moerner', 1),
 ('William Faulkner', 1),
 ('William Francis Giauque', 1),
 ('William Golding', 1),
 ('William H. Stein', 1),
 ('William Kaelin Jr.', 1),
 ('William Lawrence Bragg', 1),
 ('William N. Lipscomb', 1),
 ('William Parry Murphy', 1),
 ('William S. Knowles', 1),
 ('Willis Eugene Lamb', 1),
 ('Wislawa Szymborska', 1),
 ('Wladyslaw Stanislaw Reymont', 1),
 ('Wole Soyinka', 1),
 ('Wolfgang Ketterle', 1),
 ('Wolfgang Paul', 1),
 ('Wolfgang Pauli', 1),
 ('Yasunari Kawabata', 1),

This is called a _correlated subquery_ (since we refer to
the enclosing query inside it). We use an alias to
distinguish between the nobel table in the outer query and
the nobel table in the subquery (it's the same table, but we
'iterate' through it separately).



## Redundancy, and the case for splitting up tables

The term
[redundancy](https://en.wikipedia.org/wiki/Redundancy_(linguistics))
can be defined in many contexts, in linguistics (and in
general) it refers to information which is expressed more
than once. It is sometimes desirable (the human body has an
enormous amount of redundancy, and that's what enable us to
self-heal), but often it is a source of confusion and
errors.

Our table of Olympic Games looks like this:

In [30]:
%%sql
SELECT *
FROM   olympics

 * sqlite:///lect02.sqlite
Done.

[(1924, 'Chamonix', 'France', 'Europe', 'winter', 'I'),
 (1928, 'St. Moritz', 'Switzerland', 'Europe', 'winter', 'II'),
 (1932, 'Lake Placid', 'United States', 'North America', 'winter', 'III'),
 (1936, 'Garmisch-Partenkirchen', 'Germany', 'Europe', 'winter', 'IV'),
 (1948, 'St. Moritz', ' Switzerland', 'Europe', 'winter', 'V'),
 (1952, 'Oslo', 'Norway', 'Europe', 'winter', 'VI'),
 (1956, "Cortina d'Ampezzo", 'Italy', 'Europe', 'winter', 'VII'),
 (1960, 'Squaw Valley', 'United States', 'North America', 'winter', 'VIII'),
 (1964, 'Innsbruck', 'Austria', 'Europe', 'winter', 'IX'),
 (1968, 'Grenoble', 'France', 'Europe', 'winter', 'X'),
 (1972, 'Sapporo', 'Japan', 'Asia', 'winter', 'XI'),
 (1976, 'Innsbruck', 'Austria', 'Europe', 'winter', 'XII'),
 (1980, 'Lake Placid', 'United States', 'North America', 'winter', 'XIII'),
 (1984, 'Sarajevo', 'Yugoslavia', 'Europe', 'winter', 'XIV'),
 (1988, 'Calgary', 'Canada', 'North America', 'winter', 'XV'),
 (1992, 'Albertville', 'France', 'Europe', 'winter', 'XVI'),
 (1994, 'Lillehammer', 'Norway', 'Europe', 'winter', 'XVII'),
 (1998, 'Nagano', 'Japan', 'Asia', 'winter', 'XVIII'),
 (2002, 'Salt Lake City', 'United States', 'North America', 'winter', 'XIX'),
 (2006, 'Turin', 'Italy', 'Europe', 'winter', 'XX'),
 (2010, 'Vancouver', 'Canada', 'North America', 'winter', 'XXI'),
 (2014, 'Sochi', 'Russia', 'Europe', 'winter', 'XXII'),
 (2018, 'Pyeongchang', 'South Korea', 'Asia', 'winter', 'XXIII'),
 (1896, 'Athens', 'Greece', 'Europe', 'summer', 'I'),
 (1900, 'Paris', 'France', 'Europe', 'summer', 'II'),
 (1904, 'St. Louis', 'United States', 'North America', 'summer', 'III'),
 (1908, 'London', 'United Kingdom', 'Europe', 'summer', 'IV'),
 (1912, 'Stockholm', 'Sweden', 'Europe', 'summer', 'V'),
 (1916, 'Berlin', 'Germany', 'Europe', 'summer', 'VI'),
 (1920, 'Antwerp', 'Belgium', 'Europe', 'summer', 'VII'),
 (1924, 'Paris', 'France', 'Europe', 'summer', 'VIII'),
 (1928, 'Amsterdam', 'Netherlands', 'Europe', 'summer', 'IX'),
 (1932, 'Los Angeles', 'United States', 'North America', 'summer', 'X'),
 (1936, 'Berlin', 'Germany', 'Europe', 'summer', 'XI'),
 (1948, 'London', 'United Kingdom', 'Europe', 'summer', 'XIV'),
 (1952, 'Helsinki', 'Finland', 'Europe', 'summer', 'XV'),
 (1956, 'Melbourne', 'Australia', 'Australia', 'summer', 'XVII'),
 (1960, 'Rome', 'Italy', 'Europe', 'summer', 'XVII'),
 (1964, 'Tokyo', 'Japan', 'Asia', 'summer', 'XVIII'),
 (1968, 'Mexico City', 'Mexico', 'North America', 'summer', 'XIX'),
 (1972, 'Munich', 'West Germany', 'Europe', 'summer', 'XX'),
 (1976, 'Montreal', 'Canada', 'North America', 'summer', 'XXI'),
 (1980, 'Moscow', 'Soviet Union', 'Europe', 'summer', 'XXII'),
 (1984, 'Los Angeles', 'United States', 'North America', 'summer', 'XXIII'),
 (1988, 'Seoul', 'South Korea', 'Asia', 'summer', 'XXIV'),
 (1992, 'Barcelona', 'Spain', 'Europe', 'summer', 'XXV'),
 (1996, 'Atlanta', 'United States', 'North America', 'summer', 'XXVI'),
 (2000, 'Sydney', 'Australia', 'Australia', 'summer', 'XXVII'),
 (2004, 'Athens', 'Greece', 'Europe', 'summer', 'XXVIII'),
 (2008, 'Beijing', 'China', 'Asia', 'summer', 'XXIX'),
 (2012, 'London', 'United Kingdom', 'Europe', 'summer', 'XXX'),
 (2016, 'Rio de Janeiro', 'Brazil', 'South America', 'summer', 'XXXI')]

**Exercise:** _Can you see any potential sources of
redundancy?_

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

Two things come to mind:

 * A city seldom changes country (although it happens...),
   so repeating the same pairs of (city, country) in several
   places may seem redundant.

 * A country never moves to another continent, so repeating
   the same pairs of (country, continent) is always
   redundant.
 
In the first case, there might be a reason to save both the
city name and the country name, not only because counties
historically have changed (in 1980 Moscow was in the Soviet
Union, and in 1984 Sarajevo was in Yugoslavia), but also
because city names aren't globally unique -- there is a
Paris in Texas, and a Moscow in Kansas. So we may need the
country to identify the city uniquely. In this case we say
that the pair (city, country) is a _key_ (we'll return to
this many times during the course).

But saving the same pair of country and continent in several
places is just redundant, and it is not only wasteful
memory-wise, but could also lead to some problems when we
modify our table (we'll return to this when we talk about
_normalization_).

We say that the continent is _functionally dependent_ on the
country (or that there is a _functional dependency_ from
countries to continents), and we can avoid the redundancy it
gives rise to by creating a new table, which tells on which
continent each country is. We'll return to the details of
the SQL statements below later in the course, you're not
supposed to understand it right now, but if we evaluate the
cell below we'll get two tables, `better_olympics` and
`continents` who could replace our old `olympics`:

In [13]:
%%sql
DROP TABLE IF EXISTS continents;
CREATE TABLE continents (
  country   TEXT,
  continent TEXT NOT NULL,
  PRIMARY KEY (country)
);

INSERT OR IGNORE
INTO   continents(country, continent)
SELECT country, continent
FROM   olympics;

DROP TABLE IF EXISTS better_olympics;
CREATE TABLE  better_olympics (
  year            INT,
  city            TEXT,
  country         TEXT,
  season          TEXT,
  ordinal_number  TEXT,
  PRIMARY KEY (year, season)
);

INSERT
INTO   better_olympics(year, city, country, season, ordinal_number)
SELECT year, city, country, season, ordinal_number
FROM   olympics;

 * sqlite:///lect02.sqlite
Done.
Done.
26 rows affected.
Done.
Done.
52 rows affected.

[]

Now we don't have to enter the continent the next time
Athens, Paris or London is awarded the games.

Our two tables look like this:

In [14]:
%%sql
SELECT *
FROM   better_olympics;

 * sqlite:///lect02.sqlite
Done.

[(1924, 'Chamonix', 'France', 'winter', 'I'),
 (1928, 'St. Moritz', 'Switzerland', 'winter', 'II'),
 (1932, 'Lake Placid', 'United States', 'winter', 'III'),
 (1936, 'Garmisch-Partenkirchen', 'Germany', 'winter', 'IV'),
 (1948, 'St. Moritz', ' Switzerland', 'winter', 'V'),
 (1952, 'Oslo', 'Norway', 'winter', 'VI'),
 (1956, "Cortina d'Ampezzo", 'Italy', 'winter', 'VII'),
 (1960, 'Squaw Valley', 'United States', 'winter', 'VIII'),
 (1964, 'Innsbruck', 'Austria', 'winter', 'IX'),
 (1968, 'Grenoble', 'France', 'winter', 'X'),
 (1972, 'Sapporo', 'Japan', 'winter', 'XI'),
 (1976, 'Innsbruck', 'Austria', 'winter', 'XII'),
 (1980, 'Lake Placid', 'United States', 'winter', 'XIII'),
 (1984, 'Sarajevo', 'Yugoslavia', 'winter', 'XIV'),
 (1988, 'Calgary', 'Canada', 'winter', 'XV'),
 (1992, 'Albertville', 'France', 'winter', 'XVI'),
 (1994, 'Lillehammer', 'Norway', 'winter', 'XVII'),
 (1998, 'Nagano', 'Japan', 'winter', 'XVIII'),
 (2002, 'Salt Lake City', 'United States', 'winter', 'XIX'),
 (2006, 'Turin', 'Italy', 'winter', 'XX'),
 (2010, 'Vancouver', 'Canada', 'winter', 'XXI'),
 (2014, 'Sochi', 'Russia', 'winter', 'XXII'),
 (2018, 'Pyeongchang', 'South Korea', 'winter', 'XXIII'),
 (1896, 'Athens', 'Greece', 'summer', 'I'),
 (1900, 'Paris', 'France', 'summer', 'II'),
 (1904, 'St. Louis', 'United States', 'summer', 'III'),
 (1908, 'London', 'United Kingdom', 'summer', 'IV'),
 (1912, 'Stockholm', 'Sweden', 'summer', 'V'),
 (1916, 'Berlin', 'Germany', 'summer', 'VI'),
 (1920, 'Antwerp', 'Belgium', 'summer', 'VII'),
 (1924, 'Paris', 'France', 'summer', 'VIII'),
 (1928, 'Amsterdam', 'Netherlands', 'summer', 'IX'),
 (1932, 'Los Angeles', 'United States', 'summer', 'X'),
 (1936, 'Berlin', 'Germany', 'summer', 'XI'),
 (1948, 'London', 'United Kingdom', 'summer', 'XIV'),
 (1952, 'Helsinki', 'Finland', 'summer', 'XV'),
 (1956, 'Melbourne', 'Australia', 'summer', 'XVII'),
 (1960, 'Rome', 'Italy', 'summer', 'XVII'),
 (1964, 'Tokyo', 'Japan', 'summer', 'XVIII'),
 (1968, 'Mexico City', 'Mexico', 'summer', 'XIX'),
 (1972, 'Munich', 'West Germany', 'summer', 'XX'),
 (1976, 'Montreal', 'Canada', 'summer', 'XXI'),
 (1980, 'Moscow', 'Soviet Union', 'summer', 'XXII'),
 (1984, 'Los Angeles', 'United States', 'summer', 'XXIII'),
 (1988, 'Seoul', 'South Korea', 'summer', 'XXIV'),
 (1992, 'Barcelona', 'Spain', 'summer', 'XXV'),
 (1996, 'Atlanta', 'United States', 'summer', 'XXVI'),
 (2000, 'Sydney', 'Australia', 'summer', 'XXVII'),
 (2004, 'Athens', 'Greece', 'summer', 'XXVIII'),
 (2008, 'Beijing', 'China', 'summer', 'XXIX'),
 (2012, 'London', 'United Kingdom', 'summer', 'XXX'),
 (2016, 'Rio de Janeiro', 'Brazil', 'summer', 'XXXI')]

In [15]:
%%sql
SELECT *
FROM   continents;

 * sqlite:///lect02.sqlite
Done.

[('France', 'Europe'),
 ('Switzerland', 'Europe'),
 ('United States', 'North America'),
 ('Germany', 'Europe'),
 (' Switzerland', 'Europe'),
 ('Norway', 'Europe'),
 ('Italy', 'Europe'),
 ('Austria', 'Europe'),
 ('Japan', 'Asia'),
 ('Yugoslavia', 'Europe'),
 ('Canada', 'North America'),
 ('Russia', 'Europe'),
 ('South Korea', 'Asia'),
 ('Greece', 'Europe'),
 ('United Kingdom', 'Europe'),
 ('Sweden', 'Europe'),
 ('Belgium', 'Europe'),
 ('Netherlands', 'Europe'),
 ('Finland', 'Europe'),
 ('Australia', 'Australia'),
 ('Mexico', 'North America'),
 ('West Germany', 'Europe'),
 ('Soviet Union', 'Europe'),
 ('Spain', 'Europe'),
 ('China', 'Asia'),
 ('Brazil', 'South America')]

We've avoided some redundancy, but now we need a way to
combine the information in our two tables, and that's what
_joins_ are for...


## Joining tables together

We want a database for handling college applications, a
number of students applies for various majors at different
colleges. We want to keep track of:

 + student id (similar to stil-id)
 + student name
 + student's grade average (gpa)
 + the size of the student's highschool
 + the names of the colleges
 + the state for each college
 + the enrollment for each college
 + the major applied for
 + the decision ('Y' for accepted, 'N' otherwise)

One way of doing this would be to use one big table:

In [3]:
%%sql
SELECT *
FROM   big_college

 * sqlite:///lect02.sqlite
Done.

[(123, 'Amy', 3.9, 1000, 'Berkeley', 'CA', 36000, 'CS', 'Y'),
 (123, 'Amy', 3.9, 1000, 'Cornell', 'NY', 21000, 'EE', 'Y'),
 (123, 'Amy', 3.9, 1000, 'Stanford', 'CA', 15000, 'CS', 'Y'),
 (123, 'Amy', 3.9, 1000, 'Stanford', 'CA', 15000, 'EE', 'N'),
 (234, 'Bob', 3.6, 1500, 'Berkeley', 'CA', 36000, 'biology', 'N'),
 (345, 'Craig', 3.5, 500, 'Cornell', 'NY', 21000, 'CS', 'Y'),
 (345, 'Craig', 3.5, 500, 'Cornell', 'NY', 21000, 'EE', 'N'),
 (345, 'Craig', 3.5, 500, 'Cornell', 'NY', 21000, 'bioengineering', 'N'),
 (345, 'Craig', 3.5, 500, 'MIT', 'MA', 10000, 'bioengineering', 'Y'),
 (456, 'Doris', 3.9, 1000, None, None, None, None, None),
 (543, 'Craig', 3.4, 2000, 'MIT', 'MA', 10000, 'CS', 'N'),
 (567, 'Edward', 2.9, 2000, None, None, None, None, None),
 (654, 'Amy', 3.9, 1000, None, None, None, None, None),
 (678, 'Fay', 3.8, 200, 'Stanford', 'CA', 15000, 'history', 'Y'),
 (765, 'Jay', 2.9, 1500, 'Cornell', 'NY', 21000, 'history', 'N'),
 (765, 'Jay', 2.9, 1500, 'Cornell', 'NY', 21000, 'psychology', 'Y'),
 (765, 'Jay', 2.9, 1500, 'Stanford', 'CA', 15000, 'history', 'Y'),
 (789, 'Gary', 3.4, 800, None, None, None, None, None),
 (876, 'Irene', 3.9, 400, 'MIT', 'MA', 10000, 'biology', 'Y'),
 (876, 'Irene', 3.9, 400, 'MIT', 'MA', 10000, 'marine biology', 'N'),
 (876, 'Irene', 3.9, 400, 'Stanford', 'CA', 15000, 'CS', 'N'),
 (987, 'Helen', 3.7, 800, 'Berkeley', 'CA', 36000, 'CS', 'Y'),
 (987, 'Helen', 3.7, 800, 'Stanford', 'CA', 15000, 'CS', 'Y')]

But, just as with our olympics database above, this would
give us a lot of redundance, so we'd like to split this big
table into several related tables.

In lectures 7 and 8 we'll discuss the theory and practice of
splitting up tables -- for now, suggest tables which you
think would make working with our data easier.

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

We have one table for the students:

In [4]:
%%sql
SELECT *
FROM   students
LIMIT 4

 * sqlite:///lect02.sqlite
Done.

[(123, 'Amy', 3.9, 1000),
 (234, 'Bob', 3.6, 1500),
 (345, 'Craig', 3.5, 500),
 (456, 'Doris', 3.9, 1000)]

One for the colleges:

In [5]:
%%sql
SELECT *
FROM   colleges
LIMIT 4

 * sqlite:///lect02.sqlite
Done.

[('Stanford', 'CA', 15000),
 ('Berkeley', 'CA', 36000),
 ('MIT', 'MA', 10000),
 ('Cornell', 'NY', 21000)]

And one for all collage applications made by the students:

In [6]:
%%sql
SELECT *
FROM   applications
LIMIT 4

 * sqlite:///lect02.sqlite
Done.

[(123, 'Stanford', 'CS', 'Y'),
 (123, 'Stanford', 'EE', 'N'),
 (123, 'Berkeley', 'CS', 'Y'),
 (123, 'Cornell', 'EE', 'Y')]

The `applications` table uses `s_id` instead of `s_name`,
since we could have several students with the same name (we
actually have two 'Amy') -- `s_id` is guaranteed to be
unique (we'll talk _much_ more about uniqueness next week).

Now assume we want to display all applications, _with the
names of the students_ (not just student id). We then need a
way to combine information in the `applications` table with
information in the `students` table, and we'll do it with a
_join_.


The SQL standard specifies five different kinds of joins:

 + _cross join_
 + _inner join_
 + _left outer join_
 + _right outer join_
 + _full outer join_

The most primitive of these is the cross join -- we can
write it as:

~~~
SELECT      *
FROM        a 
CROSS JOIN  b
~~~

Doing this, we get all combinations of rows from each of
table `a` and `b` -- the rows will contain all attributes
from both tables (unless we make a projection).

If we do it with our `applications` and `students` tables we
get:

In [8]:
%%sql
SELECT      *
FROM        applications 
CROSS JOIN  students
LIMIT 5

 * sqlite:///lect02.sqlite
Done.

[(123, 'Stanford', 'CS', 'Y', 123, 'Amy', 3.9, 1000),
 (123, 'Stanford', 'CS', 'Y', 234, 'Bob', 3.6, 1500),
 (123, 'Stanford', 'CS', 'Y', 345, 'Craig', 3.5, 500),
 (123, 'Stanford', 'CS', 'Y', 456, 'Doris', 3.9, 1000),
 (123, 'Stanford', 'CS', 'Y', 543, 'Craig', 3.4, 2000)]

The number of rows in this table is the product of the
number of rows in each table, and most of the rows in the
combined table are totally uninteresting, since the `s_id`'s
doesn't have anything to do with each other (e.g., in one
line the fact that a student with `s_id` 123 has applied to
CS at Stanford is combined with the fact that there is a
student Bob with `s_id` 234 who has a `gpa` of 3.6).

The only rows of interest to us are those where the student
id from the `applications` table is the same as the student
id from the `students` table, and we can express that as:

In [9]:
%%sql
SELECT      *
FROM        applications 
CROSS JOIN  students
WHERE       applications.s_id = students.s_id

 * sqlite:///lect02.sqlite
Done.

[(123, 'Stanford', 'CS', 'Y', 123, 'Amy', 3.9, 1000),
 (123, 'Stanford', 'EE', 'N', 123, 'Amy', 3.9, 1000),
 (123, 'Berkeley', 'CS', 'Y', 123, 'Amy', 3.9, 1000),
 (123, 'Cornell', 'EE', 'Y', 123, 'Amy', 3.9, 1000),
 (234, 'Berkeley', 'biology', 'N', 234, 'Bob', 3.6, 1500),
 (345, 'MIT', 'bioengineering', 'Y', 345, 'Craig', 3.5, 500),
 (345, 'Cornell', 'bioengineering', 'N', 345, 'Craig', 3.5, 500),
 (345, 'Cornell', 'CS', 'Y', 345, 'Craig', 3.5, 500),
 (345, 'Cornell', 'EE', 'N', 345, 'Craig', 3.5, 500),
 (678, 'Stanford', 'history', 'Y', 678, 'Fay', 3.8, 200),
 (987, 'Stanford', 'CS', 'Y', 987, 'Helen', 3.7, 800),
 (987, 'Berkeley', 'CS', 'Y', 987, 'Helen', 3.7, 800),
 (876, 'Stanford', 'CS', 'N', 876, 'Irene', 3.9, 400),
 (876, 'MIT', 'biology', 'Y', 876, 'Irene', 3.9, 400),
 (876, 'MIT', 'marine biology', 'N', 876, 'Irene', 3.9, 400),
 (765, 'Stanford', 'history', 'Y', 765, 'Jay', 2.9, 1500),
 (765, 'Cornell', 'history', 'N', 765, 'Jay', 2.9, 1500),
 (765, 'Cornell', 'psychology', 'Y', 765, 'Jay', 2.9, 1500),
 (543, 'MIT', 'CS', 'N', 543, 'Craig', 3.4, 2000)]

or, using aliases, so we don't have to write long table
names:

In [10]:
%%sql
SELECT      *
FROM        applications AS a 
CROSS JOIN  students AS s
WHERE       a.s_id = s.s_id

 * sqlite:///lect02.sqlite
Done.

[(123, 'Stanford', 'CS', 'Y', 123, 'Amy', 3.9, 1000),
 (123, 'Stanford', 'EE', 'N', 123, 'Amy', 3.9, 1000),
 (123, 'Berkeley', 'CS', 'Y', 123, 'Amy', 3.9, 1000),
 (123, 'Cornell', 'EE', 'Y', 123, 'Amy', 3.9, 1000),
 (234, 'Berkeley', 'biology', 'N', 234, 'Bob', 3.6, 1500),
 (345, 'MIT', 'bioengineering', 'Y', 345, 'Craig', 3.5, 500),
 (345, 'Cornell', 'bioengineering', 'N', 345, 'Craig', 3.5, 500),
 (345, 'Cornell', 'CS', 'Y', 345, 'Craig', 3.5, 500),
 (345, 'Cornell', 'EE', 'N', 345, 'Craig', 3.5, 500),
 (678, 'Stanford', 'history', 'Y', 678, 'Fay', 3.8, 200),
 (987, 'Stanford', 'CS', 'Y', 987, 'Helen', 3.7, 800),
 (987, 'Berkeley', 'CS', 'Y', 987, 'Helen', 3.7, 800),
 (876, 'Stanford', 'CS', 'N', 876, 'Irene', 3.9, 400),
 (876, 'MIT', 'biology', 'Y', 876, 'Irene', 3.9, 400),
 (876, 'MIT', 'marine biology', 'N', 876, 'Irene', 3.9, 400),
 (765, 'Stanford', 'history', 'Y', 765, 'Jay', 2.9, 1500),
 (765, 'Cornell', 'history', 'N', 765, 'Jay', 2.9, 1500),
 (765, 'Cornell', 'psychology', 'Y', 765, 'Jay', 2.9, 1500),
 (543, 'MIT', 'CS', 'N', 543, 'Craig', 3.4, 2000)]

We can clean up the output using a projection:

In [11]:
%%sql
SELECT      s.s_name, a.c_name, a.major
FROM        applications AS a 
CROSS JOIN  students AS s
WHERE       a.s_id = s.s_id

 * sqlite:///lect02.sqlite
Done.

[('Amy', 'Berkeley', 'CS'),
 ('Amy', 'Cornell', 'EE'),
 ('Amy', 'Stanford', 'CS'),
 ('Amy', 'Stanford', 'EE'),
 ('Bob', 'Berkeley', 'biology'),
 ('Craig', 'Cornell', 'CS'),
 ('Craig', 'Cornell', 'EE'),
 ('Craig', 'Cornell', 'bioengineering'),
 ('Craig', 'MIT', 'bioengineering'),
 ('Craig', 'MIT', 'CS'),
 ('Fay', 'Stanford', 'history'),
 ('Jay', 'Cornell', 'history'),
 ('Jay', 'Cornell', 'psychology'),
 ('Jay', 'Stanford', 'history'),
 ('Irene', 'MIT', 'biology'),
 ('Irene', 'MIT', 'marine biology'),
 ('Irene', 'Stanford', 'CS'),
 ('Helen', 'Berkeley', 'CS'),
 ('Helen', 'Stanford', 'CS')]

or even

In [12]:
%%sql
SELECT      s_name AS name, c_name AS college, major
FROM        applications AS a
CROSS JOIN  students AS s
WHERE       a.s_id = s.s_id

 * sqlite:///lect02.sqlite
Done.

[('Amy', 'Berkeley', 'CS'),
 ('Amy', 'Cornell', 'EE'),
 ('Amy', 'Stanford', 'CS'),
 ('Amy', 'Stanford', 'EE'),
 ('Bob', 'Berkeley', 'biology'),
 ('Craig', 'Cornell', 'CS'),
 ('Craig', 'Cornell', 'EE'),
 ('Craig', 'Cornell', 'bioengineering'),
 ('Craig', 'MIT', 'bioengineering'),
 ('Craig', 'MIT', 'CS'),
 ('Fay', 'Stanford', 'history'),
 ('Jay', 'Cornell', 'history'),
 ('Jay', 'Cornell', 'psychology'),
 ('Jay', 'Stanford', 'history'),
 ('Irene', 'MIT', 'biology'),
 ('Irene', 'MIT', 'marine biology'),
 ('Irene', 'Stanford', 'CS'),
 ('Helen', 'Berkeley', 'CS'),
 ('Helen', 'Stanford', 'CS')]

(we only need to prefix column names when there would
otherwise be an ambiguity).

There is a shortcut for cross joins, we can just put a comma
between the two tables we want to join:

In [13]:
%%sql
SELECT s_name AS name, c_name AS college, major
FROM   applications AS a, students AS s
WHERE  a.s_id = s.s_id

 * sqlite:///lect02.sqlite
Done.

[('Amy', 'Berkeley', 'CS'),
 ('Amy', 'Cornell', 'EE'),
 ('Amy', 'Stanford', 'CS'),
 ('Amy', 'Stanford', 'EE'),
 ('Bob', 'Berkeley', 'biology'),
 ('Craig', 'Cornell', 'CS'),
 ('Craig', 'Cornell', 'EE'),
 ('Craig', 'Cornell', 'bioengineering'),
 ('Craig', 'MIT', 'bioengineering'),
 ('Craig', 'MIT', 'CS'),
 ('Fay', 'Stanford', 'history'),
 ('Jay', 'Cornell', 'history'),
 ('Jay', 'Cornell', 'psychology'),
 ('Jay', 'Stanford', 'history'),
 ('Irene', 'MIT', 'biology'),
 ('Irene', 'MIT', 'marine biology'),
 ('Irene', 'Stanford', 'CS'),
 ('Helen', 'Berkeley', 'CS'),
 ('Helen', 'Stanford', 'CS')]

This works, but there are much more elegant ways to write
this query.

An _inner join_ combine two tables into a new table (it's
not actually saved as a table) -- it does this by creating
combined rows only when rows from the two tables 'match'
each other. In this case it's the `s_id` columns which
should match, so we write:

In [14]:
%%sql
SELECT      s_name AS name, c_name AS college, major
FROM        applications AS a 
INNER JOIN  students AS s 
ON          a.s_id = s.s_id

 * sqlite:///lect02.sqlite
Done.

[('Amy', 'Berkeley', 'CS'),
 ('Amy', 'Cornell', 'EE'),
 ('Amy', 'Stanford', 'CS'),
 ('Amy', 'Stanford', 'EE'),
 ('Bob', 'Berkeley', 'biology'),
 ('Craig', 'Cornell', 'CS'),
 ('Craig', 'Cornell', 'EE'),
 ('Craig', 'Cornell', 'bioengineering'),
 ('Craig', 'MIT', 'bioengineering'),
 ('Craig', 'MIT', 'CS'),
 ('Fay', 'Stanford', 'history'),
 ('Jay', 'Cornell', 'history'),
 ('Jay', 'Cornell', 'psychology'),
 ('Jay', 'Stanford', 'history'),
 ('Irene', 'MIT', 'biology'),
 ('Irene', 'MIT', 'marine biology'),
 ('Irene', 'Stanford', 'CS'),
 ('Helen', 'Berkeley', 'CS'),
 ('Helen', 'Stanford', 'CS')]

Logically it can be seen as the equivalent of a cross join
and then a selection, but the database engine normally use
algorithms which are much faster and requires much less
memory when we define an inner join. Once you get used to
them, inner joins will feel much better to use than cross
joins (although, in theory, the database should try to
optimize all queries, and _might_ find an efficient way to
execute even cross joins).

Inner joins are the default joins, so we can omit the word
`INNER`, and just write `JOIN`:

In [15]:
%%sql
SELECT  s_name AS name, c_name AS college, major
FROM    applications AS a
JOIN    students AS s
ON      a.s_id = s.s_id

 * sqlite:///lect02.sqlite
Done.

[('Amy', 'Berkeley', 'CS'),
 ('Amy', 'Cornell', 'EE'),
 ('Amy', 'Stanford', 'CS'),
 ('Amy', 'Stanford', 'EE'),
 ('Bob', 'Berkeley', 'biology'),
 ('Craig', 'Cornell', 'CS'),
 ('Craig', 'Cornell', 'EE'),
 ('Craig', 'Cornell', 'bioengineering'),
 ('Craig', 'MIT', 'bioengineering'),
 ('Craig', 'MIT', 'CS'),
 ('Fay', 'Stanford', 'history'),
 ('Jay', 'Cornell', 'history'),
 ('Jay', 'Cornell', 'psychology'),
 ('Jay', 'Stanford', 'history'),
 ('Irene', 'MIT', 'biology'),
 ('Irene', 'MIT', 'marine biology'),
 ('Irene', 'Stanford', 'CS'),
 ('Helen', 'Berkeley', 'CS'),
 ('Helen', 'Stanford', 'CS')]

The condition on which we join tables is often called the
_join predicate_, and a join where the join predicate is an
equality test, such as here, is sometimes called an
_equi-join_. There is a special form of join when the
columns we're comparing in an equi-join have the same name:

In [ ]:
%%sql
SELECT  s_name AS name, c_name AS college, major
FROM    applications
JOIN    students
USING   (s_id)

One benefit from using `USING` is that the columns we join
over will not be duplicated, we get only one of them in the
output. 

I'd say this is the preferred way of writing this query.

There is an even simpler way to write it, using what's
called a _natural join_, but it's error-prone, and you're
recommended not to use it. It's written as

In [16]:
%%sql
SELECT        s_name AS name, c_name AS college, major
FROM          applications
NATURAL JOIN  students

 * sqlite:///lect02.sqlite
Done.

[('Amy', 'Berkeley', 'CS'),
 ('Amy', 'Cornell', 'EE'),
 ('Amy', 'Stanford', 'CS'),
 ('Amy', 'Stanford', 'EE'),
 ('Bob', 'Berkeley', 'biology'),
 ('Craig', 'Cornell', 'CS'),
 ('Craig', 'Cornell', 'EE'),
 ('Craig', 'Cornell', 'bioengineering'),
 ('Craig', 'MIT', 'bioengineering'),
 ('Craig', 'MIT', 'CS'),
 ('Fay', 'Stanford', 'history'),
 ('Jay', 'Cornell', 'history'),
 ('Jay', 'Cornell', 'psychology'),
 ('Jay', 'Stanford', 'history'),
 ('Irene', 'MIT', 'biology'),
 ('Irene', 'MIT', 'marine biology'),
 ('Irene', 'Stanford', 'CS'),
 ('Helen', 'Berkeley', 'CS'),
 ('Helen', 'Stanford', 'CS')]

and it joins the tables using an equi-join for all columns
with coinciding names -- _this could create big problems if
there are attributes in the tables which just happen to
coincide without us realizing it!_ If we use the `JOIN` ...
`USING` instead, we explicitly declare on which attributes
to join, so we guard ourselves against accidental column
name collisions.

Observe that we can use selections just as before when we
join tables. 

**Exercise:** _Write a SQL query which shows all applications as
above, but only for students applying for CS at Stanford._

In [18]:
%%sql
SELECT s_name, c_name, major
FROM students
JOIN applications
USING (s_id)
WHERE c_name = 'Stanford' AND major = 'CS'

 * sqlite:///lect02.sqlite
Done.

[('Amy', 'Stanford', 'CS'),
 ('Irene', 'Stanford', 'CS'),
 ('Helen', 'Stanford', 'CS')]

**Exercise:** _Write a SQL query which shows all applications
as above, but also shows what state the college is in._

In [23]:
%%sql
SELECT s_name, c_name, major, state
FROM students
JOIN applications
USING (s_id)
JOIN colleges
USING (c_name)

 * sqlite:///lect02.sqlite
Done.

[('Amy', 'Berkeley', 'CS', 'CA'),
 ('Amy', 'Cornell', 'EE', 'NY'),
 ('Amy', 'Stanford', 'CS', 'CA'),
 ('Amy', 'Stanford', 'EE', 'CA'),
 ('Bob', 'Berkeley', 'biology', 'CA'),
 ('Craig', 'Cornell', 'CS', 'NY'),
 ('Craig', 'Cornell', 'EE', 'NY'),
 ('Craig', 'Cornell', 'bioengineering', 'NY'),
 ('Craig', 'MIT', 'bioengineering', 'MA'),
 ('Craig', 'MIT', 'CS', 'MA'),
 ('Fay', 'Stanford', 'history', 'CA'),
 ('Jay', 'Cornell', 'history', 'NY'),
 ('Jay', 'Cornell', 'psychology', 'NY'),
 ('Jay', 'Stanford', 'history', 'CA'),
 ('Irene', 'MIT', 'biology', 'MA'),
 ('Irene', 'MIT', 'marine biology', 'MA'),
 ('Irene', 'Stanford', 'CS', 'CA'),
 ('Helen', 'Berkeley', 'CS', 'CA'),
 ('Helen', 'Stanford', 'CS', 'CA')]

We can join a table with itself, write a query which finds
all pairs with the same Grade Point Average (GPA):

We can do it either with a cross join:

In [24]:
%%sql
SELECT s1.s_id, s1.s_name, s1.gpa, s2.s_id, s2.s_name, s2.gpa
FROM   students AS s1, students AS s2
WHERE  s1.gpa = s2.gpa AND
       s1.s_id < s2.s_id

 * sqlite:///lect02.sqlite
Done.

[(123, 'Amy', 3.9, 654, 'Amy', 3.9),
 (123, 'Amy', 3.9, 456, 'Doris', 3.9),
 (123, 'Amy', 3.9, 876, 'Irene', 3.9),
 (456, 'Doris', 3.9, 654, 'Amy', 3.9),
 (456, 'Doris', 3.9, 876, 'Irene', 3.9),
 (543, 'Craig', 3.4, 789, 'Gary', 3.4),
 (567, 'Edward', 2.9, 765, 'Jay', 2.9),
 (654, 'Amy', 3.9, 876, 'Irene', 3.9)]

or with an inner join:

In [25]:
%%sql
SELECT s1.s_id, s1.s_name, s2.s_id, s2.s_name, gpa
FROM   students AS s1 
JOIN   students AS s2 
USING  (gpa)
WHERE  s1.s_id < s2.s_id

 * sqlite:///lect02.sqlite
Done.

[(123, 'Amy', 654, 'Amy', 3.9),
 (123, 'Amy', 456, 'Doris', 3.9),
 (123, 'Amy', 876, 'Irene', 3.9),
 (456, 'Doris', 654, 'Amy', 3.9),
 (456, 'Doris', 876, 'Irene', 3.9),
 (543, 'Craig', 789, 'Gary', 3.4),
 (567, 'Edward', 765, 'Jay', 2.9),
 (654, 'Amy', 876, 'Irene', 3.9)]

Joining a table with itself is called a _self join_.
       
**Exercise:** Show the student names, college names, and
majors for all applications to Stanford:

In [ ]:
%%sql

**Exercise:** Show the average `size_hs` for applications to
the different colleges, order by descending size:

In [ ]:
%%sql

We can apply joins in several steps, each time combining
what we've previously joined with another table (the result
of which is a new table, which can be joined over and over
again...).


**Exercise:** _Show the names of all students who have
applied for a college in California -- also show the college
and major._

In [ ]:
%%sql

In lab 1 you'll get plenty of exercise in joining.


## Outer joins

An inner join combines rows in different tables _when there
is a match in the other table_, rows with no corresponding
row in the other table will not turn up in the joined table.

With an _outer join_ we can make sure that every row in one
or both of the tables turn up in the joined table -- in case
there is no match, it will be paired with a row containing
unly `NULL` values (`NULL` is written as `None` in our
notebooks).

As as example, we've seen how to join students and their
applications:

<!---
SELECT s_name, s_id, c_name, major
FROM   students
JOIN   applications
USING  (s_id)
-->

In [ ]:
%%sql

Now, assume we also want to see those students who haven't
applied, we can do that using a _left outer join_:

<!---
SELECT          s_name, s_id, c_name, major
FROM            students
LEFT OUTER JOIN applications
USING           (s_id)
-->

In [ ]:
%%sql

We still get the rows we got before, but now we also get
rows with `NULL`'s in the attributes from the right
relation, if there is no row in the right table which
corresponds to a row in the left table (i.e., the `s_id`
found in the `students` table has no match in the
`applications` table -- the tuples on the left are sometimes
called _dangling tuples_).

By the way, we can omit the `OUTER` keyword:

<!---
SELECT    s_name, s_id, c_name, major
FROM      students
LEFT JOIN applications
USING     (s_id)
-->

In [ ]:
%%sql

There is a 'natural' version of outer joins ...

<!---
SELECT            s_name, s_id, c_name, major
FROM              students
NATURAL LEFT JOIN applications
-->

In [ ]:
%%sql

... but for the same reasons as for inner joins, it's
_much_, _much_ better to explicitly declare which attribute
we're joining (using `USING`).

There is a way to get the same result without inner or outer
joins, but it requires more code:

In [ ]:
%%sql
SELECT      s_name, s.s_id, c_name, major
FROM        students s
CROSS JOIN  applications a
WHERE       s.s_id = a.s_id
UNION
SELECT      s_name, s_id, NULL, NULL
FROM        students
WHERE       s_id NOT IN (SELECT s_id
                         FROM   applications)

Seing this might help you understand what left outer join
actually returns.

Now, the opposite problem, we want to see applications with
no matching students -- of course we could just swap
`students` and `applications` in the query above, but we
could also use a _right outer join_:

In [ ]:
%%sql
SELECT     s_name, s_id, c_name, major
FROM       students
RIGHT JOIN applications USING (s_id)

Right outer joins are not supported in SQLite (yet), though.

There is also a _full outer join_, which combines the left-
and the right outer joins:

In [ ]:
%%sql
SELECT    s_name, s_id, c_name, major
FROM      students
FULL JOIN applications USING (s_id)

Of the outer joins, SQLite only supports left outer, the
other ones are left out :-).

**Exercise:** _Find all 'spurious' applications, i.e.,
applications where the student id doesn't match any
student's id._ Try to solve this exercise in two ways (one
using an outer join, the other using subqueries).

In [ ]:
%%sql

In [ ]:
%%sql

**Exercise:** _Generate the unwieldly college application
table we started out with above from the three smaller
tables._

In [ ]:
%%sql

## Back to the olympics:

Last time we had a few queries using our old `olympics`
table, let's revisit one of them using `better_olympics` and
`continents` instead. First we rename our `olympics` and
`better_olympics` tables, to make things easier:

In [ ]:
%%sql
ALTER TABLE olympics
RENAME TO   bad_olympics;

ALTER TABLE better_olympics
RENAME TO   olympics;

**Q:** _How many olympic games has each continent hosted?_

In [ ]:
%%sql

**Q:** _When was the first and the latest olympic games in
each continent?_

In [ ]:
%%sql

**Q:** _Recreate the original `olympics` table from the
improved `olympics` and `continents`._

In [ ]:
%%sql

## Instead of lists

One of the 'rules' of relational databases is that the
values in our tables must be primitive, we're not allowed to
have lists or objects as values. This requirement is called
the ["First normal
form"](https://en.wikipedia.org/wiki/First_normal_form), or
"1NF" -- we'll return to 'normal forms' during lectures 7
and 8.

If we were to write a program to keep track of the phone
numbers of our friends, we could write something like this
in Java:

~~~java
class Friend {

    private String name;
    private List<PhoneNumber> phoneNumbers;
    
    ...
}

List<Friend> friends = ...
~~~

A literal translation of this into a table would be
something like:

~~~
name      phone_numbers
----      -------------
Adam      [123456, 654321]
Bodil     [196811]
~~~

but this is in violation of the 'First normal form', so
instead have a new row for each phone number:

~~~
name      phone
----      -----
Adam      123456
Adam      654321
Bodil     196811
~~~

We can ask for Adam's number with:

~~~sql
SELECT phone
FROM   friends
WHERE  name = 'Adam'
~~~

and we'd get both numbers back:

~~~
phone
-----
123456
654321
~~~

Now, assume we also want to save the birthdays of our
friends. We could add a column for birthdays like this:

~~~
name    birthday    phone
----    --------    -----
Adam    2 dec       123456
Adam    2 dec       654321
Bodil   30 nov      196811
~~~

What's the problem with this?

And what if we also want to save our friends' email
addresses:

~~~
name        birthday    phone       email
----        --------    -----       -----
Adam        2 dec       123456      adam@gmail.com
Adam        2 dec       123456      adam@yahoo.com
Adam        2 dec       654321      adam@gmail.com
Adam        2 dec       654321      adam@yahoo.com
Bodil       30 nov      196811      bodil@itu.dk
Bodil       30 nov      196811      bodil@lu.se
Cecilia     9 apr       511235      cecilia@dn.se
Cecilia     9 apr       641587      cecilia@dn.se
David       12 jun      984531      david@gmail.co
David       12 jun      984531      david@hotmail
Emma        11 aug      123456      emma@lu.se
~~~

It may seem silly to have four rows for Adam, but if we
removed one of them, we would loose vital information. If we
removed the first row, and someone asked who had the phone
number 123456 and the email address adam@gmail.com, the
query:

~~~sql
SELECT  name, birthday
FROM    friends
WHERE   phone = '123456' AND email = 'adam@gmail.com'
~~~

would give an empty result.

The problem with the table above is that we have a lot of
redundance, i.e., information is repeated in many places.
This is not only a waste of storage space, it also makes it
much, much harder to work with our table -- insertions,
updates and removals affects many rows, and if we're not
careful, we might leave the table in a corrupted state.

**Exercise:** _The data in the table above would be much
easier to maintain if we split it into several tables --
suggest how to do that._


## Views

If we often use some query as part of other queries, we can
save it using a _view_:

In [ ]:
%%sql
CREATE VIEW application_info AS
  SELECT s_id, s_name AS name, major, c_name AS college, state
  FROM   applications
  JOIN   students
  USING  (s_id)
  JOIN   colleges
  USING  (c_name);

SELECT DISTINCT name, state
FROM   application_info
WHERE  s_id IN (123, 234, 456);

**Exercise:** _Show the year and category for everyone who
has won more than one Nobel Prize -- use a view to do it._

<!---
CREATE VIEW multiple_awards AS
  SELECT name
  FROM   nobel
  GROUP BY laureate
  HAVING COUNT() > 1;

SELECT year, category, name
FROM   multiple_awards
JOIN   nobel
USING  (name)
ORDER BY year;
-->

We first create a view with the names of laureates with
multiple awards:

In [ ]:
%%sql

and then use it to collect information about each of the
awards:

In [ ]:
%%sql

A view will be around until someone explicitly drops it:

In [ ]:
%%sql
DROP VIEW IF EXISTS multiple_awards;

## The `WITH`-statement

As an alternative to views, we have _Common Table
Expressions_ (or _CTE_'s) -- they are a kind of named view
which is only used in a single query:

In [ ]:
%%sql
WITH multiple_awards AS
  (SELECT name
   FROM   nobel
   GROUP BY name
   HAVING COUNT() > 1)
SELECT year, category, name
FROM   multiple_awards
JOIN   nobel
USING  (name)
ORDER BY year;

Unlike views, tables created with `WITH` will 'disappear' as
soon as our query is finished, one point of the `WITH`
statement is that it's part of one single query (whereas the
creation of a view is a statement itself) -- this will
become useful when we make calls to our database from other
programs (in lecture 7 and 8).


We can't have another `WHERE` after the `HAVING` clause:

In [ ]:
%%sql
SELECT    category, count() AS cnt
FROM      nobel
WHERE     year = 2013
GROUP BY  category
HAVING    count() < 3
WHERE     cnt > 1        -- not allowed!

but we can make our 'grouping query' into a subquery, and
have another `WHERE` in the outer query

In [ ]:
%%sql
SELECT category, cnt
FROM (
    SELECT    category, count() AS cnt
    FROM      nobel
    WHERE     year = 2013
    GROUP BY  category
    HAVING    count() < 3)
WHERE cnt > 1

A somewhat tidier way of expressing this is to use a
`WITH`-statement -- we can write either:

In [ ]:
%%sql
WITH category_count AS (
    SELECT    category, count() AS cnt
    FROM      nobel
    WHERE     year = 2013
    GROUP BY  category
    HAVING    count() < 3
)
SELECT category, cnt
FROM   category_count
WHERE  cnt > 1

or

In [ ]:
%%sql
WITH category_count(category, cnt) AS (
    SELECT    category, count()
    FROM      nobel
    WHERE     year = 2013
    GROUP BY  category
    HAVING    count() < 3
)
SELECT category, cnt
FROM   category_count
WHERE  cnt > 1