<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="../style.css">


# Some more SQL, and Database modeling

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///lect03.sqlite

## Views

If we use some query as part of other queries, we can save
it using a _view_. Assume we want to make several queries
for information about applications in our college
application database -- we split up our big table with all
data into three separate tables, but we can easily create a
view of all relevant data using a view:

In [ ]:
%%sql
CREATE VIEW application_info(s_id, name, major, college, state) AS
  SELECT s_id, s_name, major, c_name, state
  ...

or (an alternative way of naming the columns in our view):

In [ ]:
%%sql
CREATE VIEW application_info AS
  SELECT s_id, s_name AS name, major, c_name AS college, state
  ...

We can now use this view to simplify our queries -- to find
in what states lies the colleges a given student has applied
to, we can write:

In [ ]:
%%sql
SELECT DISTINCT s_id, name, state
FROM   application_info
WHERE  s_id IN (123, 234, 456);

**Exercise:** _Show the year and category for everyone who
has won more than one Nobel Prize -- use a view to do it._

We first create a view with the names of laureates with
multiple awards:

In [ ]:
%%sql

and then use it to collect information about each of the
awards:

In [ ]:
%%sql

A view will be around until someone explicitly drops it:

In [ ]:
%%sql
DROP VIEW IF EXISTS multiple_awards;

Last time we solved the following problem in a dubious way:

**Exercise:** Show the average `size_hs` for applications to
the different colleges, order by descending size.

Our first solution was:

In [ ]:
%%sql
SELECT   c_name, avg(size_hs)
FROM     applications
JOIN     students
USING    (s_id)
GROUP BY c_name

but, as someone pointed out, this way we count students who
applies for several majors at a given college several times
(so, we get an oddly weighted average). The problem here is
that the `applications` table may contain duplicate entries
for each pair of student/college -- create a view which
alleviates this problem, and then calculate the 'correct'
(unweighted) averages.

In [ ]:
%%sql

Also, try to solve the problem with a subquery instead of a
view (where you select from the result of a subquery).

In [ ]:
%%sql

## The `WITH`-statement

As an alternative to views, we have _Common Table
Expressions_ (or _CTE_'s) -- they are a kind of named view
which is only used in a single query:

In [ ]:
%%sql
WITH 
  multiple_awards(name) AS (
    SELECT name
    FROM   nobel
    GROUP BY name
    HAVING COUNT() > 1
)
SELECT year, category, name
FROM   multiple_awards
JOIN   nobel
USING  (name)
ORDER BY year;

Unlike views, tables created with `WITH` will 'disappear' as
soon as our query is finished, one point of the `WITH`
statement is that it's part of one single query (whereas the
creation of a view is a statement itself) -- this will
become useful when we make calls to our database from other
programs (in lecture 7 and 8).


**Exercise:** (from last time) _Who has shared the chemistry
prize with exactly one other laureate in years when the
summer olympics were held in Europe?_ Solve the problem
using several CTEs.

In [ ]:
%%sql

**Example:** As we've seen, we can't have another `WHERE`
after the `HAVING` clause in a `GROUP BY` clause (of course
we could have added the second test to the `HAVING` clause
in this case, but that's not the point here):

In [ ]:
%%sql
SELECT    category, count() AS cnt
FROM      nobel
WHERE     year = 2013
GROUP BY  category
HAVING    count() < 3
WHERE     cnt > 1        -- not allowed!

but we can make our 'grouping query' into a subquery, and
have another `WHERE` in the outer query

In [ ]:
%%sql
SELECT category, cnt
FROM (
    SELECT    category, count() AS cnt
    FROM      nobel
    WHERE     year = 2013
    GROUP BY  category
    HAVING    count() < 3
)
WHERE cnt > 1

A tidier way of expressing this is to use a `WITH`-statement
-- we can write:

In [ ]:
%%sql
WITH category_count(category, cnt) AS (
    SELECT    category, count()
    FROM      nobel
    WHERE     year = 2013
    GROUP BY  category
    HAVING    count() < 3
)
SELECT category, cnt
FROM   category_count
WHERE  cnt > 1

## Where are the functions and parameters?

All decent general purpose programming languages have a way
to define functions with parameters, e.g., we can write
something like:

In [ ]:
def find_students_with_major(major):
    return [s for s in students if s.major() == major]

But SQL isn't a general purpose language, it's a Domain
Specific Language (DSL), and while there is somthing akin to
this in some DBMS's (_stored procedures_, we'll return to
them briefly later in the course), we normally use SQL from
other languages, and then embed our queries in a way which
lets us replace parts of our queries with values from the
embedding program:

~~~{.python}
def handle_students_with_major(major):
    ...
    c.execute(
        """
        SELECT s_id, s_name, c_name
        FROM   applications
        JOIN   students
        USING  (s_id)
        WHERE  major = ?
        """,
        (major,)
    )
    for student_id, name, college in c:
        ... use student_id, name, and college ...
~~~

or, with Java:

~~~{.java}
void handleStudentsWithMajor(String major) {
    String query =
        "SELECT s_id, s_name, c_name\n" +
        "FROM   applications\n" +
        "JOIN   students\n" +
        "USING  (s_id)\n" +
        "WHERE  major = ?";
    try (var ps = conn.prepareStatement(query)) {
        ps.setString(1, major);
        var rs = ps.executeQuery();
        while (rs.next()) {
            var studentId = rs.getInt("s_id");
            var name = rs.getString("s_name");
            var college = rs.getString("c_name");
            ... use studentId, name, and college ...
        }
    } catch (SQLException e) {
        e.printStackTrace();
    }
~~~

During lecture 5 we'll talk _much_ more about this. 

As the code above suggests, Java is much more verbose than
Python, and things gets progressively worse when we add the
scaffolding to write a REST-service (as we will do in lab 3
and the project) -- this is why I recommend that you pick up
some Python so that you don't have to use Java in lab 3 and
the project (but, of course, it's perfectly fine to stay
with Java if you don't want to learn Python for this
course).